@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300&display=swap');
.zoom {

    transition: transform .2s !important; /* Animation */

  }
  
  .zoom:hover {
    cursor:pointer;
    z-index: 1 !important;
    transform: scale(1.1) !important; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    
  }


  .colorWhite{

    color: rgb(236, 229, 229) !important;
    
  }
  
  .texttypeBebas{
    font-family: 'Bebas Neue', cursive;
  }
  
  .texttypeLight300{
    font-family: 'Oswald', sans-serif;
  }
  .borderblack{

border: #131414;
  }

  .cont{
  object-fit:cover;
  }
  .backImg{
  object-fit: cover ;

  background-color: #ffffff;
  padding-right: 10px;
  }

  .colorbk{
    background-color: #d0d8d8;
    }

    .heigh{
    
     height: 100vh;
    }
 
    .inputwidh{


    }
    .textisize{
    color: rgb(29, 27, 27);
      font-size: 18px;
    }
    .paddingbot{
      margin-bottom: 30px !important;
    }
    .buttonwidth{
      width: 150px !important;
    }
    .textisizetitle{
      color: rgb(29, 27, 27);
        font-size: 20px;
      }
      .textisizetitleu{
        font-size: 50px;
      }

      .heighh{
          height: 100vh;
      }

      .backeditor{
          background-color: rgb(0, 100, 105) !important;
      }



      body {
        background: #eee
    }
    
    .date {
        font-size: 11px
    }
    
    .comment-text {
        font-size: 12px
    }
    
    .fs-12 {
        font-size: 12px
    }
    
    .shadow-none {
        box-shadow: none
    }
    
    .name {
        color: #007bff
    }
    
    .cursor:hover {
        color: blue
    }
    
    .cursor {
        cursor: pointer
    }
    
    .scrollycomments{
       overflow-y: scroll;
       overflow-y: hidden;
    }

